<launch>

    <!-- robot details -->
    <include file="$(find greenhouse_robot)/launch/murdoch_robot.launch"/>

    <!-- map details -->
    <arg name="map_file" default="$(find greenhouse_robot)/maps/nav_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- move_base -->
    <include file="$(find greenhouse_robot)/launch/move_base.launch"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find greenhouse_robot)/rviz/navigation.rviz" />


    <!-- launching localization method -->
    <include file="$(find greenhouse_robot)/launch/amcl.launch"/>
    <!-- <include file="$(find greenhouse_robot)/launch/mcl.launch"/> -->


</launch>
